Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
keras==2.6.0
keras_preprocessing
numpy==1.17.4
opencv-python==4.5.3.56
tensorflow==2.5.0
tensorflow==2.4.0
click==7.1.1

